//Primary Color
$soft-blue : hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
//Neutral Color
$grayish-blue : hsl(229, 8%, 60%);
$verydark-blue : hsl(229, 31%, 21%);
$verydark-blue90 : rgba(37, 43, 70 , 0.9);
//font for body
$font : 18px;
